* {
    -webkit-font-smoothing: antialiased;
    -moz-os-font-smoothing: grayscale;
}

body {
    font-family: roboto, Arial, sans-serif;
}

html, body {
    /*font-size: calc(16px + (18 - 16) * (100vw - 575px)/ (1920 - 575));
    line-height: calc(18px + (24 - 18) * (100vw - 575px)/ (1920 - 575));*/
}

:root {
    --bs-border-radius: 0rem;
    --bs-border-radius-sm: 0rem;
    --bs-border-radius-lg: 0rem;
    --bs-border-radius-xl: 0rem;
    --bs-border-radius-xxl: 0rem;
    --bs-border-radius-2xl: 0rem;

    --ui-sidebar-bg: #36414D;
    --ui-sidebar-bg-rgb: 54, 65, 77;
    --ui-sidebar-color: #E6F1FF;
    --ui-sidebar-color-rgb: 230, 241, 255;
    --bs-heading-color: var(--bs-gray-600);

    --bs-breadcrumb-font-size: .85rem;

}


[data-bs-theme="dark"] {
    --ui-sidebar-bg: #1a2026;
    --ui-sidebar-bg-rgb: 26, 32, 38;

}

.btn.btn-icon {
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    line-height: 2.5rem;
    border-radius: 1000px !important;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-pad {
    --bs-btn-padding-x: 2.5rem;
    --bs-btn-padding-y: 0.65rem;
}

.btn {
    border-radius: 0rem !important;
    text-transform: uppercase;
    font-weight: 600;
}

.btn-shadow {
    box-shadow: 0 .5rem 1rem -.5rem var(--bs-btn-bg);
}

.btn[class*="btn-outline"].btn-shadow {
    box-shadow: 0 .5rem 1rem -.5rem var(--bs-btn-color);
}

.btn-xl, .btn-group-xl > .btn {
    --bs-btn-padding-y: 1.5rem;
    --bs-btn-padding-x: 2rem;
    --bs-btn-font-size: 1.25rem;
}

.btn-outline-warning {
    --bs-btn-active-color: #805e00;
}

.btn-outline-danger, .btn-outline-success {
    --bs-btn-active-color: #fff;
}

[data-bs-theme="dark"] {
    --bs-heading-color: inherit;
}

h1, h2, h3, h4 {
    font-family: bebas, Arial, sans-serif;
    text-transform: uppercase;
    color: var(--bs-heading-color);
}


.wrap {
    display: flex;
    width: 100%;
    overflow: hidden;
    align-items: stretch;
}

.sidebar,
.sidebar-content {
    transition: margin-left .35s ease-in-out, left .35s ease-in-out, margin-right .35s ease-in-out, right .35s ease-in-out;
    background: var(--ui-sidebar-bg);
}

.sidebar {
    min-width: 260px;
    max-width: 260px;
    direction: ltr;
    min-height: 100vh;
}

.main {
    display: flex;
    width: 100%;
    min-width: 0;
    min-height: 100vh;
    transition: margin-left .35s ease-in-out, left .35s ease-in-out, margin-right .35s ease-in-out, right .35s ease-in-out;
    background: var(--bs-body-bg);
    flex-direction: column;
    overflow: hidden;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


@media (min-width: 992px) {

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
    }

    .main {
        padding-left: 260px;
        transition: padding .35s ease-in-out
    }

    .sidebar.collapsed + .main {
        padding-left: 0px;
    }

    .main > .navbar {
        position: fixed;
        left: 260px;
        top: 0;
        right: 0;
        transition: all .35s ease-in-out;
        z-index: 1001
    }

    .sidebar.collapsed + .main > .navbar {
        left: 0
    }

    .main .content {
        padding-top: 100px
    }


}

.sidebar-toggle {
    margin-right: 1rem;
}

.sidebar-toggle {
    cursor: pointer;
    width: 26px;
    height: 26px;
    display: flex;
}

.hamburger {
    position: relative;
}

.hamburger,
.hamburger:after,
.hamburger:before {
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    width: 24px;
    background: var(--bs-body-color);
    display: block;
    content: "";
    transition: background .1s ease-in-out, color .1s ease-in-out;
}

.hamburger:before {
    top: -7.5px;
    width: 24px;
    position: absolute;
}

.hamburger:after {
    bottom: -7.5px;
    width: 16px;
    position: absolute;
}

.navbar-bg {
    background: var(--bs-body-bg);
}

.navbar {
    border-bottom: 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .875rem 1.375rem;
    min-height: 70px;
}

.sidebar.collapsed {
    margin-left: -260px;
}

.sidebar-brand {
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .875rem 1.375rem;
    min-height: 70px;
    /*border-bottom: 1px solid rgba(var(--bs-body-bg-rgb),.2);*/
    background: rgba(var(--bs-body-bg-rgb), .05);
}

.app-logo {
    color: var(--ui-sidebar-color);
    display: flex;
    align-items: center;
    justify-content: start;
}

.app-logo #appLogoText {
    width: 100px;
    height: auto;
}

.app-logo #appLogoEl {
    margin-right: 0.5rem;
    width: 40px;
    height: auto;
    fill: var(--bs-primary);
}


.sidebar-nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-grow: 1;
}

.sidebar-header {
    background: transparent;
    padding: 1.5rem 1.5rem .375rem;
    font-size: .75rem;
    color: rgba(var(--ui-sidebar-color-rgb), .5);
}

.sidebar-item.active .sidebar-link:hover,
.sidebar-item.active > .sidebar-link {
    color: var(--ui-sidebar-color);
    background: linear-gradient(90deg, rgba(var(--bs-link-color-rgb), .1), rgba(var(--bs-link-color-rgb), .0875) 50%, transparent);
    border-left-color: var(--bs-link-color);
}

.sidebar-link,
a.sidebar-link {
    display: block;
    padding: .625rem 1.625rem;
    font-weight: 400;
    transition: background .1s ease-in-out;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    color: rgba(var(--bs-body-color-rgb), .5);
    background: var(--ui-sidebar-bg);
    border-left: 3px solid transparent;
}

.sidebar [data-bs-toggle=collapse]:after {
    content: " ";
    border: solid;
    border-width: 0 .075rem .075rem 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(45deg);
    position: absolute;
    top: 1.2rem;
    right: 1.5rem;
    transition: all .2s ease-out;
}

.sidebar [aria-expanded=true]:after,
.sidebar [data-bs-toggle=collapse]:not(.collapsed):after {
    transform: rotate(-135deg);
    top: 1.4rem;
}

.sidebar-item.active .sidebar-link:hover i,
.sidebar-item.active .sidebar-link:hover svg,
.sidebar-item.active > .sidebar-link i,
.sidebar-item.active > .sidebar-link svg {
    color: var(--bs-link-color);
}

.sidebar-link i,
.sidebar-link svg,
a.sidebar-link i,
a.sidebar-link svg {
    margin-right: .75rem;
    color: var(--ui-sidebar-color-rgb);
    min-width: 1.5rem;
}

a.sidebar-link svg {
    width: 18px;
    height: 18px;
    stroke-width: 2;
}

.sidebar-dropdown .sidebar-link::before {
    content: "›";
    display: inline-block;
    position: relative;
    left: -14px;
    transform: translateX(0px);
    transition: all 0.1s ease 0s;
}

.sidebar-dropdown .sidebar-link {
    padding: .625rem 1.5rem .625rem 3.25rem;
    font-weight: 400;
    font-size: 90%;
    border-left: 0;
    color: #adb5bd;
    background: transparent;
}

.sidebar-link,
a.sidebar-link {
    display: block;
    padding: .625rem 1.625rem;
    transition: background .1s ease-in-out;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    color: rgba(var(--ui-sidebar-color-rgb), .75);;
    border-left: 3px solid transparent;
}

.content {
    padding: 1.5rem 1.5rem .75rem;
    flex: 1;
    width: 100vw;
    max-width: 100vw;
    /*background: rgba(var(--bs-secondary-rgb),.05);*/
}

@media (min-width: 992px) {
    .content {
        padding: 1.5rem 3rem 1.5rem;
    }
}

@media (min-width: 768px) {
    .content {
        width: auto;
        max-width: auto;
    }
}

.navbar-collapse {
    flex-grow: 0 !important;
}

.navbar .avatar {
    margin-top: -15px;
    margin-bottom: -15px;
}

.avatar {
    width: 40px;
    height: 40px;
}

/*

.dropdown-toggle.user:after {
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.dropdown-toggle.user:after {
    border: solid;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate( 45deg);
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .35rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #495057;
    text-align: inherit;
    white-space: nowrap;
    background-color: initial;
    border: 0;
}

.dropdown-item {
    transition: background .1s ease-in-out, color .1s ease-in-out;
}

.dropdown-item svg {
    width: 18px;
    height: 18px;
    stroke-width: 2;
}

.dropdown-item svg {
    margin-right: .25rem!important;
}
*/

.nav-flag,
.nav-icon {
    padding: .1rem .8rem;
    display: block;
    font-size: 1.5rem;
    color: #6c757d;
    transition: background .1s ease-in-out, color .1s ease-in-out;
    line-height: 1.4;
}

.nav-icon.dropdown-toggle::after {
    display: none;
}

.nav-flag svg,
.nav-icon svg {
    width: 20px;
    height: 20px;
}

.nav-item .indicator {
    background: var(--bs-link-color);
    box-shadow: 0 0.1rem 0.2rem rgb(0 0 0 / 5%);
    border-radius: 50%;
    display: block;
    height: 18px;
    width: 18px;
    padding: 1px;
    position: absolute;
    top: 0;
    right: -8px;
    text-align: center;
    transition: top .1s ease-out;
    font-size: .675rem;
    color: #fff;
}

/*
.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: .5rem 0;
    margin: 0;
    font-size: .875rem;
    color: var(--bs-body-color);
    text-align: left;
    list-style: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .2rem;
}

.dropdown-menu-lg {
    min-width: 20rem;
}

.dropdown-menu-header {
    padding: .75rem;
    text-align: center;
    font-weight: 600;
    border-bottom: 1px solid rgba(var(--bs-body-color-rgb),.5);
}

.dropdown-menu-footer {
    padding: .5rem;
    text-align: center;
    display: block;
    font-size: .75rem;
}
*/

@media (max-width: 575.98px) {
    .nav-item.dropdown {
        position: inherit;
    }

    .navbar-expand .navbar-nav .dropdown-menu-lg {
        min-width: 100%;
    }
}

@media (max-width: 767.98px) {
    .navbar {
        width: 100vw;
    }
}

@media (min-width: 1px) and (max-width: 991.98px) {
    .sidebar {
        margin-left: -260px;
    }

    .sidebar.collapsed {
        margin-left: 0;
    }
}

footer.footer {
    padding: 1rem .875rem;
}

.page-body-wrapper {
    min-height: calc(100vh - 60px);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
    padding-top: 60px;
}

.page-body-wrapper.full-page-wrapper {
    width: 100%;
    min-height: 100vh;
    padding-top: 0;
}

.auth.auth-img-bg {
    padding: 0;
}

.content-wrapper {
    padding: 2.1rem 1.04rem;
    width: 100%;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.container-scroller {
    overflow: hidden;
}

.flex-grow {
    flex-grow: 1;
}

.auth .auth-form-transparent {
    background: transparent;
}

@media (min-width: 768px) {
    .auth.auth-img-bg .auth-form-transparent {
        width: 55%;
        margin: auto;
    }
}

@keyframes morph {
    0%   { background-color: #81B35A; }
    25%  { background-color: #81B35A; }
    30%  { background-color: #26CAD3; }
    55%  { background-color: #26CAD3; }
    60% { background-color: #FA5F55; }
    85% { background-color: #FA5F55; }
    90% { background-color: #81B35A; }
}

.auth .login-half-bg {
    background:#81B35A 50% 50% url(../img/logo-box.svg) no-repeat;
    background-size: contain;
    animation: morph 30s infinite;
}

.auth .auth-form-light {
    background: var(--bs-body-bg);
}

.auth .register-half-bg {
    background: url(../img/register-bg.jpg);
    background-size: cover;
}


.shadow1 {
    box-shadow: 0 0 2rem 0 rgb(0 0 0 / 10%);
}

.table {
    --bs-table-hover-bg: rgba(var(--bs-body-color-rgb), .05);
}

.table thead th {
    text-transform: uppercase;
    letter-spacing: .02em;
    font-size: .65rem;
    font-weight: 800 !important;

}

.table thead th a {
    color: rgba(var(--bs-body-color-rgb), .7);
    text-decoration: none;
    white-space: nowrap;
}

.table thead th a.asc:after,
.table thead th a.desc:after {
    margin-left: .25rem;
    font-size: 1.25em;
    display: inline-block;
    content: "▲";
    color: var(--bs-primary);
    /*
                    opacity: .5;
                    width: .5rem;
                    height: .5rem;
                    border: 2px solid var(--bs-primary);
                    border-width:0 2px 2px 0 ;
    */
}

/*
.table thead th a.desc:after {
    transform: rotate(-135deg);
}
*/
.table thead th a.asc:after {
    transform: rotate(180deg);
}

.table tbody td {
    white-space: nowrap;
}

.__trCursorPointer table tbody tr:hover {
    cursor: pointer !important;
}

.table.__twoCols1440 tr td {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: normal;
}

@media (min-width: 1440px) {
    .table.__twoCols1440 > tbody {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .table.__twoCols1440 tr {
        width: 45%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 5% 0 0;
    }

    .table.__twoCols1440 tr td {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.4;

    }

    .table.__twoCols1440 tr td, .table.__twoCols1440 tr th {
        width: 50%;
        white-space: normal;
        word-break: break-all;
        padding: 0 !important;
        margin: 0.5rem 0;
    }


}


.form-group.has-error .form-control {
    border-color: var(--bs-form-invalid-border-color);
    padding-right: calc(1.5em + 0.75rem);
    background-image: url(data:image/svg+xml,%3csvg xmlns= 'http://www.w3.org/2000/svg' viewBox= '0 0 12 12' width= '12' height= '12' fill= 'none' stroke= '%23dc3545' %3e%3ccircle cx= '6' cy= '6' r= '4.5' /%3e%3cpath stroke-linejoin= 'round' d= 'M5.8 3.6h.4L6 6.5z' /%3e%3ccircle cx= '6' cy= '8.2' r= '.6' fill= '%23dc3545' stroke= 'none' /%3e%3c/svg%3e);
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.form-group.has-error .form-control:focus {
    border-color: var(--bs-form-invalid-border-color);
    box-shadow: 0 0 0 0.25rem rgba(var(--bs-danger-rgb), .25);
}

.form-group.has-error .help-block {
    margin-top: 0.25rem;
    font-size: .875em;
    color: var(--bs-form-invalid-color);
}

.form-group + .form-group {
    margin-top: 1rem
}


.breadcrumb {
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: .025em
}

.breadcrumb a {
    text-decoration: none !important
}

.form-control {
    background-color: rgba(var(--bs-body-color-rgb), .025);
}

.text-right {
    text-align: right
}

.table a {
    text-decoration: none;
    font-weight: 600;
}

.lra-sm a + a {
    margin-left: .5rem
}


.__amr {
    display: block;
    text-align: right;
    white-space: nowrap
}

.__amr a {
    display: inline-block
}

.__amr a + a {
    margin-left: .5rem
}

.grid-view .summary {
    text-align: right;
    font-size: .75rem;
    text-transform: uppercase;
    opacity: .5;
    margin-bottom: .5rem;
}

.survey-control {
    margin-left: 2rem;
    margin-top: .5rem;
}

.survey-question-number {
    min-width: 2rem;
    display: inline-block
}

.survey-step-number {
    min-width: 2rem;
    display: inline-block
}

.survey .btn {
    transition: all .2s ease-in-out
}

.survey .btn-check:not(:checked) + label[class*="btn-outline-"] {
    border-color: #bbbbbb !important;
}

[data-bs-theme="dark"] .survey .btn-check:not(:checked) + label[class*="btn-outline-"] {
    border-color: #444444 !important;
}


.pagination {
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

.pagination .page-item a {
    border-radius: 100px !important;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.5rem;
}



#chartdiv {
    width: 100%;
    height: 700px;
    font-size: .75rem
}

@media (max-width:480px) {
    #chartdiv {
        width: 100%;
        height: 400px;
    }
    .chart-container {margin: 0 -20px;}
}