@font-face {
    font-family: ttnorms;
    src: url(900.eot);
    src: url(900.eot?#iefix) format('embedded-opentype'), url(900.woff) format('woff'), url(900.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: auto
}

@font-face {
    font-family: ttnorms;
    src: url(700.eot);
    src: url(700.eot?#iefix) format('embedded-opentype'), url(700.woff) format('woff'), url(700.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: auto
}

@font-face {
    font-family: ttnorms;
    src: url(600.eot);
    src: url(600.eot?#iefix) format('embedded-opentype'), url(600.woff) format('woff'), url(600.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: auto
}

@font-face {
    font-family: ttnorms;
    src: url(400.eot);
    src: url(400.eot?#iefix) format('embedded-opentype'), url(400.woff) format('woff'), url(400.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: auto
}

@font-face {
    font-family: ttnorms;
    src: url(100.eot);
    src: url(100.eot?#iefix) format('embedded-opentype'), url(100.woff) format('woff'), url(100.ttf) format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: auto
}